.header{
  background-color: #FFFFDD;
  .navbar{
    background-color: #FFFFDD;
    .user-information{
      margin-left: 15px;
      border: solid 1px #67c5ff;
      border-radius: 3px;
      color: #67c5ff;
      padding: 5px 10px;
      font-size: 20px;


    }
  }
}