.order-item{
  &__title{
    background-color: white;
    height: 50px;
    width: 240px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
    padding: 0 30px;
  }
  .orders{
    .order{
      background-color: white;
      width: 500px;
      padding: 30px;
      margin-bottom: 30px;
      &__date{
        margin-bottom: 30px;
        span{
          font-size: 20px;
        }

      }
      &__items{
        &__detail{
          .information{
            border-bottom:1px solid #EEE;
            box-shadow:rgba(122, 122, 122, 0.0588235) 0px 6px 6px -6px;
            -webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 6px 6px -6px;
            -moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 6px 6px -6px;
            display: flex;
            &__left{

            }
            &__right{
              position: relative;
              &__shop{
                margin-left: 30px;
              }
              &__price{
                position: absolute;
                bottom: 20px;
                display: flex;
                .price{
                  margin-left: 30px;
                }
              }
            }
          }

        }
      }
      &__total{
        margin-top: 40px;
        font-size: 30px;
      }
    }
  }
}