.top-page{
  width: 100vw;
  height: 550px;

  .top-images{
    z-index: 1;
    ul{
      position: relative;
      margin: 0;
    }
    &__image{
      width: 100vw;
      height: 550px;

    }
  }
  .sub{
    position: absolute;
    top: 460px;
    left: 20px;
    font-size: 60px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 4px gray;
  }
  .sub2{
    position: absolute;
    top: 550px;
    left: 20px;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 4px gray;
  }
}